@charset "UTF-8";
/**
 * @author: ARTADestrokzZ
 */

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
@import url(grille.css);
@import url(menu.css);
@import url(header-footer.css);

/*
* SECTEUR ECONOMIE ET POLITIQUE
* TITRES
* BACKGROUND IMAGE
* SECTION NOTES BIOGRAPHIQUES
* SECTION LOCALISATION
* SECTION PLAQUE COMMÉMORATIVE
* SECTION CAPSULE SONORE
* SECTION CHASSE
*/

/* TITRES */
h1{
    display: flex;
    justify-content: center;
    color: #595322;
 }
h2{
   color: #595322;
}
h3{
   color: #595322;
}
/* BACKGROUND IMAGE */
.economie-politique{
   background-image: url(../images/economie-politique.webp);
   background-position: center;
}
/* Quelques utilitaires */
 section p{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: auto;
 }
 img{
    width: 300px;
    
 }
 .secteur__activite{
   text-align: center;
   font-size: 2.0em;
 }

 /* SECTION NOTES BIOGRAPHIQUES */

@media (max-width:600px){
   .titre__bio{
      text-align: center;
   }
   .p__bio{
      margin-left: 10px;
      margin-right: 10px;
   }
}

@media (min-width:600px){
   .conteneur__bio{
     display: flex;
     margin: auto;
  }
  .image__bio{
   width: 30%;
  }
  .texte__bio{
   width: 70%;
   margin-top: -30px;
  }
}
 /* SECTION LOCALISATION */
.section__localisation{
   text-align: center;
}
.span__localisation{
   color: black;
}
@media (min-width:600px){
   .conteneur__plaque-localisation{
     display: flex;
     margin: auto;
  }
  .section__localisation{
   width: 50%;
   margin-top: -1px;
  }
  .section__commemoratif{
   width: 50%;
  }
}
.infos__localisation{
   color: #595322;
   font-size: 1.2em;
}
 /* SECTION PLAQUE COMMÉMORATIVE */
.section__commemoratif{
   text-align: center;
}
 /* SECTION CAPSULE SONORE */
 @media (max-width:600px){
   .div__sonore{
      margin-left: 10px;
      margin-right: 10px;
   }
   
}
 @media (min-width:600px){
   .div__sonore{
     display: flex;
     margin: auto;
     margin-bottom: 50px;
  }
  .audio{
   width: 50%;
  }
  .texte__audio{
   width: 50%;
   margin-top: 10px;
  }
}

/* SECTION CHASSE */

.img__indice__perso{
   border-radius: 50%;
   width: 100px;
   height: 100px;
}
.img__indice__objet{
 border-radius: 50%;
 width: 100px;
 height: 100px;
}
.img__indice__lieu{
 border-radius: 50%;
 width: 100px;
 height: 100px;
}

@media(min-width:300px){
   .img__indice__perso{
      border-radius: 50%;
      width: 70px;
      height: 70px;
    }
    .img__indice__objet{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    }
    .img__indice__lieu{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    }
}
@media(min-width:700px){
   .img__indice__perso{
      border-radius: 50%;
      width: 180px;
      height: 180px;
    }
    .img__indice__objet{
      border-radius: 50%;
      width: 180px;
      height: 180px;
    }
    .img__indice__lieu{
      border-radius: 50%;
      width: 180px;
      height: 180px;
    }
}
@media(min-width:1000px){
   .img__indice__perso{
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }
    .img__indice__objet{
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }
    .img__indice__lieu{
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }
}

.btn__soumettre{
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
    background-color: #F1DB32;
    font-size: 130%;
    padding: 1.5%;
    border-radius: 20px;
  }
  @media(min-width:300px){
    .btn__soumettre{
      width: 60%;
      margin-left: 10%;
      background-color: #F1DB32;
      font-size: 75%;
      padding: 1.5%;
      border-radius: 20px;
    }
  }
  @media(min-width:700px){
    .btn__soumettre{
      width: 35%;
      margin-left: 35%;
      background-color: #F1DB32;
      font-size: 130%;
      padding: 1.5%;
      border-radius: 20px;
    }
  }
  @media(min-width:1000px){
    .btn__soumettre{
      width: 30%;
      margin-left: 35%;
      background-color: #F1DB32;
      font-size: 200%;
      padding: 1.5%;
      border-radius: 20px;
    }
  }