@charset "UTF-8";
/**
 * @author: maxamax2
 */

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
@import url(menu.css);

/**
* BODY
* SVG
* HEADER
* NAV
* FOOTER
**/

/* BODY */
.body{
    background-color: #F1F3FB;
}

/* svg */
@media (min-width:600px){
    svg {
        width: 500px;
        margin-top: 20px;
        margin-left: 100px; 
        margin-bottom: 25px; 
    }
}
@media (min-width:800px){
    svg {
        width: 500px;
        margin-top: 20px;
        margin-left: 100px; 
        margin-bottom: 25px; 
    }
}
/* HEADER */
.header{
    background-color: #2D3540;
}
/* NAV */
@media (min-width:600px){
    .nav {
        margin-left: 100px;
    }
}

/* BODY */

main{
  padding: 30px;
  margin: 10px;
}
@media (min-width:600px){
  .main{
    padding: 30px;
    margin: 10px;
  }
}

@media (min-width:800px){
  .main{
    padding: 30px;
    margin: 10px;
  }
}

.titre{
  margin-left: 5%;
  color: #595322;
  
}

.texte{
  margin-left: 5%;
}

.regles{
  margin-left: 7%;
}

fieldset{
  background-color: #2D3540;
  color: white;
}

.chasse_pigee{
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.grille {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "div1 div2 div2 div3 "
    "suggestion1 suggestion1 suggestion2 suggestion2";
  text-align: center;
}

.div1 {
  grid-area: div1;
}
.div2 {
  grid-area: div2;
}
.div3 {
  grid-area: div3;
}
.suggestion1 {
  grid-area: suggestion1;
}
.suggestion2 {
  grid-area: suggestion2;
}

.piger_chasse{
  
}
/* FOOTER */
/* icônes réseaux sociaux */
.social {
    text-align: center;
  }

  .social-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
  }
  .social-menu__lien {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 6px;
    background-repeat: no-repeat;
    font-size: 0;
    opacity: 1;
    background-image: url(//hautemontagne.ca/sources/sprite-sociaux.png);
    transition: transform .2s ease;
  }
  .social-menu__item:first-child .social-menu__lien:link {
    background-position: -185px -10px;
  }
  .social-menu__item:nth-child(2) .social-menu__lien:link {
    background-position: -185px -46px;
  }
  .social-menu__item:nth-child(3) .social-menu__lien:link {
    background-position: -185px -82px;
  }
  .social-menu__item:nth-child(4) .social-menu__lien:link {
    background-position: -185px -226px;
  }
  .social-menu__item:first-child .social-menu__lien:hover {
    background-position: -423px -10px;
    transform: scale(1.07) rotate(10deg);
  }
  .social-menu__item:nth-child(2) .social-menu__lien:hover {
    background-position: -423px -46px;
    transform: scale(1.07) rotate(10deg);
  }
  .social-menu__item:nth-child(3) .social-menu__lien:hover {
    background-position: -423px -82px;
    transform: scale(1.07) rotate(10deg);
  }
  .social-menu__item:nth-child(4) .social-menu__lien:hover {
    background-position: -423px -226px;
    transform: scale(1.07) rotate(10deg);
  }
.footer{
    background-color: #2D3540;
    padding-bottom: 30px;
}
.p__footer{
    text-align: center;
    color: white;
    
}

