@charset "UTF-8";
/**
 * @author: Gugmaton
 */

@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
@import url(header-footer.css);
@import url(menu.css);

/* Classe pour les filtres */
.selection {
    order: -1;
    border: solid #F1DB32 4px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.main {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.titre {
    text-align: center;
    color: #595322;
}

@media (min-width: 600px) {
    .titre {
        text-align: left;
    }
}

.sous-titre, .menuFiltre, .nom__personnage {
    color: #2D3540;
}

@media (min-width: 600px) {
    .sous-titre {
        text-align: left;
    }

    .sous-titre {
        margin-left: 8%;
    }
}

.menuFiltre {
    list-style: none;
    padding: 0;
}

@media (min-width: 700px) {
    .menuFiltre {
        display: flex;
        justify-content: start;
        margin-left: 8%;
    }

    .menuFiltre__item {
        padding: 0 20px;
    }

    .menuFiltre__item:first-child {
        padding-left: 0;
    }
}

.filtres__bouton {
    border: none;
    background-color: white;
    padding: 10px;
}

.filtres__bouton--actif {
    background-color: #F1DB32;
    border-radius: 10px;
}

.filtres__bouton:hover,
.filtres__bouton:active {
    background-color: #F1DB32;
    border-radius: 10px;
}

.listePersonnages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    padding-left: 0;
}

.lien__personnage {
    text-decoration: none;
    color: black;
}

.fiche {
    display: inline-block;
    width: fit-content;
    margin: 0 10px;
    margin-top: 20px;
    height: 320px;
}

.picture__image {
    display: flex;
    justify-content: center;
}

.image__personnage {
    width: 235px;
    height: 235px;
    object-fit: cover;
    border-radius: 50%;
}

.nom__personnage {
    max-width: 235px;
    text-align: center;
}