@charset "UTF-8";
/**
 * @author: maxamax2
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Inter&display=swap');

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
/*
* BODY
* HEADER
*
*
*
*
*
*
* FOOTER
*
*
*/

/* BODY */
.body{
    background-color: #F1F3FB;
}

/* HEADER */
.header{
    background-color: #2D3540;
    
}

.nav__header{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__lien{
    display: flex;
    align-items: center;
    color: white;

}

/* FOOTER */
.footer{
    background-color: #2D3540;
}
.nav__footer{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__lien-footer{
    display: flex;
    align-items: center;
    color: white;

}